@import "tailwindcss";

:root {
    --primary-codigo-pro: #0A0F2B;
    --secondary-codigo-pro: #00FF88;
    --accent-codigo-pro: #7A63FF;
    --text-codigo-pro: #FFFFFF;
    --dark-codigo-pro: #020617;
}
